<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 헤더 -->
<th:block th:replace="/common/fragments/header-without-category :: mainHeader">
</th:block>

<!-- 구성 내용 -->
<body>
<div id="content=wrapper" class="d-flex flex-column">
    <!-- 본문 -->
    <th:block layout:fragment="content">
    </th:block>
    <!-- 푸터 -->
    <th:block th:replace="/common/fragments/footer :: mainfooter">
    </th:block>
</div>
</body>
</html>